<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimrat's Flask App</title>
    <!-- Include Tailwind CSS from CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 p-4">
<div class="max-w-screen-md mx-auto bg-white p-4 shadow-md">
    <div class="max-w-screen-md mx-auto bg-yellow-200 p-4 shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-center">Azure-Hosted CDN Video</h1>
        <video src="video link" alt="Video" controls height='100%' width='100%'></video>
    </div>
</div>
</body>
</html>